.msg {
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    transition: 0.2s;
    position: relative;

    &:hover {
        background-color: var(--msg-hover-bg);
    }
    &.active {
        background: var(--active-conversation-bg);
        border-left: 4px solid var(--theme-color);
    }
    &.online:before {
        content: "";
        position: absolute;
        background-color: #23be7e;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        border: 2px solid var(--color-white);
        left: 50px;
        bottom: 19px;
    }
}

.msg_profile {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;

    &.group {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--border-color);

        .svg {
            width: 60%;
        }
    }
}

.msg_detail {
    overflow: hidden;
}

.msg_username {
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 15px;
}

.msg_content {
    font-weight: 500;
    font-size: 13px;
    display: flex;
}

.msg_message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--msg-message);
}

.msg_date {
    font-size: 14px;
    color: var(--msg-date);
    margin-left: 3px;

    &:before {
        content: "•";
        margin-right: 2px;
    }
}