.form_card {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;
    border-radius: var(--card-border-radius);
    background-color: var(--color-card-add);
    padding: var(--card-padding);
    transition: all 0.3s ease;
    width: 25vw;
    height: 22vh;


    h1{
        font-size: 20px;
        text-align: center;
    }
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-blur);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 0;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
    width: 25vw;
    height: 22vh;


    h1 {
        font-size: 60px;
    }
}

.input_card {
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    padding: 13px 20px;
    height: 42px;
    width: 100%;
    font-weight: 400;
    border-radius: 8px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: var(--color-input);
    background-color: var(--color-bginput);
    border: none;
    transition: all 200ms linear;
    box-shadow: var(--box-shadow_2);
}

.block_item {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button_addcard {
    border-radius: 25px;
    width: 6rem;
    height: 2rem;
    font-weight: 700;
    transition: all 200ms linear;
    text-align: center;
    background-color: #ffeba7;
    color: #102770;
    cursor: pointer;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);


    &:hover {
        background-color: #2a2b38;
        border: 1px solid #ffeba7;
        color: #ffeba7;
        box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
    }
}


