.modal_window__backdrop {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.hidden {
    display: none;
}


.modal_window {
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%) scale(0.9);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: var(--border-radius-2);
    transition: all 0.18s ease-in-out;
    visibility: hidden;
    opacity: 0;

    &.show {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        visibility: visible;
    }
}



.form_card{
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;
    border-radius: var(--border-radius-2);
    left: 0;
    top: 0;
    background-color: var(--color-card-add);
    padding: var(--card-padding);
    cursor: pointer;
    transition: all 0.3s ease;
    height: 380px;
    width: 380px;

    h1{
        font-family: 'Poppins', sans-serif;
        margin-top: -2rem;
        margin-bottom: 1.7rem;
        color: var(--color-dark);
        font-size: 20px;
        text-align: center;
    }
}

.close{
    margin-top: 0;
    font-size: 30px;
    font-weight: 800;
    display: flex;
    justify-content: end;
    color: var(--color-dark);
}

.card_block{
    align-items: center;
    margin-top: 0.25rem;
}

.input_card{
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    padding: 13px 20px;
    height: 42px;
    width: 100%;
    font-weight: 400;
    border-radius: 8px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: var(--color-input);
    background-color: var(--color-bginput);
    border: none;
    transition: all 200ms linear;
}

.block_item{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// a {
//     cursor: pointer;
//     font-size: 17px;
//     transition: all 200ms linear;
// }
// a:hover {
//     text-decoration: none;
// }
.link {
    color: var(--color-create-example);

    &:hover {
        color: #ffeba7;
    }
}

.create_example {
    margin-top: 10px;
    padding-left: 10px;
    font-weight: 200;
    font-size: 14px;
    line-height: 1.7;
}

.button_addcard {
    border-radius: 4px;
    width: 5rem;
    height: 2rem;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 200ms linear;
    justify-content: center;
    text-align: center;
    background-color: #ffeba7;
    color: #102770;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);

    &:hover{
        background-color: #2a2b38;
        border: 1px solid #ffeba7;
        color: #ffeba7;
        box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
    }
}

.inputtext_card {
    height: 100px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    padding: 13px 20px;
    font-weight: 400;
    border-radius: 8px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: var(--color-input);
    background-color: var(--color-bginput);
    border: none;
    transition: all 200ms linear;
}