@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --scrollbarBG: #fff;
    --thumbBG: #0086ff;
    --settings-icon-hover: #9fa7ac;
    --input-bg: #f8f8fa;
    --input-chat-color: #a2a2a2;
    --border-color: #fff;
    --text-color: #273346;
    --settings-icon-color: #c1c7cd;
    --msg-message: #969eaa;
    --chat-text-bg: #f1f2f6;
    --theme-color: #0086ff;
    --msg-date: #c0c7d2;
    --button-bg-color: #f0f7ff;
    --button-color: var(--theme-color);
    --detail-font-color: #919ca2;
    --msg-hover-bg: rgba(238, 242, 244, 0.4);
    --active-conversation-bg: linear-gradient(
            to right,
            rgba(238, 242, 244, 0.4) 0%,
            rgba(238, 242, 244, 0) 100%
    );
    --overlay-bg: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 65%,
            rgba(255, 255, 255, 1) 100%
    );
    --chat-header-bg: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 1) 78%,
            rgba(255, 255, 255, 0) 100%
    );


    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-blur: rgba(25, 20, 20, 0.03);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --color-input: #677483;
    --color-bginput: #f6f6f9;
    --color-card-add: #fff;
    --color-title-words: #9f7aea;
    --color-title-result: #ed8936;
    --color-title-level: #38b2ac;
    --color-number-words: #9f7aea;
    --color-number-result: #ed8936;
    --color-number-level: #38b2ac;
    --theme-color: #0086ff;
    --button-color: var(--theme-color);

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
    --box-shadow_1: 0 2rem 3rem var(--color-light);
    --box-shadow_2: 0 2rem 3rem rgba(21,21,21,.2);

    --color_bg-card: #fff;
    --color_border: #e5e5e5;
    --color_text: #9d9d9d;
}

[data-theme="blue"] {
    --thumbBG: #1f7cc5;
    --theme-color: #0086ff;
    --button-color: #0086ff;
}

[data-theme="purple"] {
    --thumbBG: #9f7aea;
    --theme-color: #9f7aea;
    --button-color: #9f7aea;
    --button-bg-color: rgba(159, 122, 234, 0.12);
}

[data-theme="green"] {
    --thumbBG: #38b2ac;
    --theme-color: #38b2ac;
    --button-color: #38b2ac;
    --button-bg-color: rgba(56, 178, 171, 0.15);
}

[data-theme="orange"] {
    --thumbBG: #ed8936;
    --theme-color: #ed8936;
    --button-color: #ed8936;
    --button-bg-color: rgba(237, 137, 54, 0.12);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}


a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-weight: 600;
    font-size: 1.4rem;
}

h3{
    font-weight: 500;
    font-size: 0.87rem;
}

small{
    font-size: 0.76rem;
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}








.text-muted{
    color: var(--color-info-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

main{
    /*margin-top: 1.4rem;*/
}

/* .main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
} */

/* .analyse_cards{
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
} */

/* .analyse_lib {
    grid-template-columns: repeat(2, 1fr);
}

main .analyse{
    display: grid;
    gap: 1.6rem;
   
} */


/* main .analyse > div:hover{
    box-shadow: none;
} */

/* main .analyse_cards .status{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 0;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;

    width: 25vw;
    height: 22vh;
} */

/* main .analyse_lib .status{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 0;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;

    height: 18vh;
} */

/* main .analyse h3{
    margin-left: 0.6rem;
    font-size: 1rem;
} */

main .analyse .progresss{
    position: relative;
    width: 392px;
    height: 92px;
    border-radius: 50%;
}

main .analyse .progresss svg{
    width: 30rem;
    height: 7rem;
}

main .analyse svg circle{
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(288px, 5px);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
    /* stroke: var(--color-primary); */
    /* stroke: var(--color-success); */
    stroke: var(--color-danger);
}


main .analyse .progresss .percentage{
    position: absolute;
    top: -3px;
    left: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/* .title{
    display: flex;
    justify-content: start;
    gap: 0.1rem;
    align-items: center;
} */

/* .back{
    width: 35px;
    height: 35px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    padding: 9px;
    background-color: var(--color-background);
    color: var(--color-dark);
} */

/* .back span {
    display: flex;
    font-size: 1.7rem;
}

.back:hover{
    transition: all 0.3s ease;
    color: var(--color-primary);
} */



/* main .analyse .settings-training {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
} */

/* main .analyse .settings-training a {
    font-size: 2.3rem;
    transition: 0.5s ease;
} */

/* main .analyse .settings-training a:hover {
    transform: scale(0.85);
} */


/* main .analyse .info {
    display: flex;
    margin-left: 1rem;
    width: 10rem;
    gap: 1rem;
    flex-direction: column;
} */

/* @media screen and (max-width: 1200px) {
    .container {
        width: 95%;
        grid-template-columns: 7rem auto 23rem;
    }

    .header .logo h2 {
        display: none;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }

    aside .sidebar .last-child {
        position: relative;
        margin-top: 1.8rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0 var(--padding-1);
    }

    aside {
        position: fixed;
        background-color: var(--color-white);
        width: 15rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        left: -100%;
        display: none;
        animation: showMenu 0.4s ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    .header .logo {
        margin-left: 1rem;
    }

    .header .logo h2 {
        display: inline;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar .last-child {
        position: absolute;
        bottom: 5rem;
    }

    .header .toggle .close {
        display: inline-block;
        cursor: pointer;
    }

    .header{
        width: 94%;
        margin: 0 auto 4rem;
    }

    .header .nav{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        background-color: var(--color-white);
        padding: 0 var(--padding-1);
        height: 4.6rem;
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
        margin: 0;
    }

    .header .nav .dark-mode{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .header .profile .info{
        display: none;
    }

    .header .nav button{
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .header .nav button span{
        font-size: 2rem;
    }
} */