.custom-btn{
  background-color: transparent;
  border: none;
  /* border: 2px solid lightblue; */
  /* border-radius: 5px; */
  padding: 5px;
  color: lightblue;
  font-size: 20px;
  transition: 0.5s;
}

.custom-btn:hover{
    font-size: 22px;
}